html { 
	height: 100% 
}
body { 
	height: 100%; 
	margin: 0; 
	padding: 0;
	position: relative;
}

.text-glow:hover, .text-glow:focus, .text-glow:active {
   -webkit-stroke-width: 5.3px;
   -webkit-stroke-color: #FFFFFF;
   -webkit-fill-color: #FFFFFF;
   text-shadow: 1px 0px 20px yellow;
   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   -o-transition: width 0.3s; /* Opera */
}

nav{
	z-index: 1;
}

#sprawl-map{ 
  height: 100%;
  position: absolute; 
  top: 0; 
  bottom: -200px; 
  left: 0; 
  right: 0; 
  z-index: 0;
}
 
#container {
  z-index: 100;
  position: relative;
}


#search {
  background: #59b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 5px rgba(88, 88, 88, 0.5);
  -webkit-box-shadow: 2px 2px 5px rgba(88, 88, 88, 0.5);
  margin-bottom: 10px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

#q {
  background: #fff;
  margin: 0;
  padding: 8px 10px;
  border: 1px solid #eee;
  outline-width: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  width: 330px;
}

#btn {
  padding: 8px 10px;
  border: 1px solid #eee;
  outline-width: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  background: #fff;
  cursor: pointer;
}

#search label {
  color: #fff;
  padding: 8px 10px;
  font-size: 18px;
}





#sidebar{
	background-color: #3C3C41;
	position: absolute;
	top: 15rem;
	left: 0px;
	z-index: 1;
}

#sidebar li{
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
}

#sidebar li a{
	padding: 0px;
	text-align: center;
	position: relative;
	min-width: 60px;
	color: #67676C;
}

#sidebar li:hover a{
	color: white !important;
}

#sidebar li i{
	font-size: 40px;
	padding: 0px;
	margin: 0px;
}

.icon-title{
	display: block;
	padding: 0px;
	margin-top: -15px;
	width: inherit;
	left: 0px;
}



.controls {
margin-top: 16px;
border: 1px solid transparent;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
height: 32px;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
background-color: #fff;
padding: 0 11px 0 13px;
width: 400px;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
text-overflow: ellipsis;
position: absolute;
z-index: 2;
top: 10rem;
left: 10rem;
}

#pac-input:focus {
border-color: #4d90fe;
margin-left: -1px;
padding-left: 14px;  /* Regular padding-left + 1. */
width: 401px;
}

.pac-container {
font-family: Roboto;
}

#type-selector {
color: #fff;
background-color: #4d90fe;
padding: 5px 11px 0px 11px;
}

#type-selector label {
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}


#map-results{
	position: absolute;
	top: 6.25rem;
	left: 6.25rem;
	z-index: 1;
	background: white;
	width: 40rem;
	height: 35rem;
	overflow-y: scroll;
/* 	overflow-x: hidden; */
	background-color:rgba(0, 0, 0, 0.5);
}


#map-results .panel{
	clear: both;
	margin: 0rem;
	padding: .25rem;
}

#map-results header .right,
#map-results header .left{
	margin-right: 10px;
	margin-left: 10px;
}
#map-results .panel p{
	font-size: 0.8rem !important;
}

#map-results .button.tiny {
padding-top: 0.325rem;
padding-right: 1.15rem;
padding-bottom: 0.5875rem;
padding-left: 1.15rem;
font-size: 0.5875rem;
}

.histogram-list{
text-align: top;
}
.histogram-list li{
	font-size: .75rem;
	clear: both;
}
.histogram-list li .progress{
height: .9rem;
padding: 0rem;
margin-bottom: 0.625rem;
}
.histogram-list-totals{
margin-right: 5px;
color: #008cba;
font-weight: bold;
}



 .column {
    width: 33%;
    float: left;
    padding-bottom: 100px;
  }
  .portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
  }
  .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
  }
  .portlet-content {
    padding: 0.4em;
  }
  .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
  }


#info{
	position: absolute;
	bottom: 1rem;
	right: 6.25rem;
	z-index: 1;
	background-color: #3C3C41;
	color: #999;
	width: 24rem;
	height: 2rem;
	overflow: auto;
	line-height: 1.8rem;
	text-align: center;
}