html, body { 
	height: 100% 
}
body { 
	margin: 0; 
	padding: 0;
	position: relative;
}

.text-glow:hover, .text-glow:focus, .text-glow:active {
   -webkit-stroke-width: 5.3px;
   -webkit-stroke-color: #ffffffFFF;
   -webkit-fill-color: #ffffffFFF;
   text-shadow: 1px 0px 20px yellow;
   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   -o-transition: width 0.3s; /* Opera */
}

nav{
	z-index: 9999 !important;
}

#container {
  position: relative;
  min-height: 800px;
  background-color: black;
}
#sprawl-map{ 
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

/* Fix img stretch for fluid container */
#sprawl-map img{
	max-width: none;
}


#graph-overlay{
	background: white;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 2;
}

#chart{
margin: 0px auto;
position: relative;
width: 800px;
}

#info{
	bottom: 0.20rem;
	right: 2rem;
	z-index: 1;
	position: absolute;
	background-color: #999;
	color: #333;
	width: 17rem;
	height: 2.8125rem;
	overflow: auto;
	line-height: 3rem;
	text-align: center;
	font-weight: bold;
}
#map-toggle{
	bottom: 0.20rem;
	right: .50rem;
	z-index: 3;
	position: absolute;
	font-size: 36px;
	height: 2.8125rem;
	line-height: 2.8125rem;
	display: block;
	background-color: orange;
	border: 1px solid #333;
	padding: .25rem;
}

#map-toggle a{
	color: black;
}


/*** 
Top Bar
**/

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
-webkit-appearance: none;
background-color: #fff;
font-family: inherit;
border: 1px solid #cccccc;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.75);
display: block;
font-size: 0.77778rem;
margin: 0 0 0.88889rem 0;
padding: 0.44444rem;
height: 2.05556rem;
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
-moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
-webkit-transition: all 0.15s linear;
-moz-transition: all 0.15s linear;
transition: all 0.15s linear;
}


.top-bar form, .top-bar input {
margin-bottom: 0;
}

.top-bar input {
height: auto;
padding-top: 0.35rem;
padding-bottom: 0.35rem;
font-size: 0.75rem;
}

@media only screen and (min-width: 40.063em)
.top-bar input, .top-bar .button {
font-size: 0.77778rem;
position: relative;
top: 7px;
}



/*** 
Off Canvas 
**/

ul.off-canvas-list li{
font-weight: bold;
font-size: .8rem;
color: #fff;
clear: both;
color: rgba(255,255,255,0.7);
padding: 1rem;
}

ul.off-canvas-list li h2{
padding: 0.3rem 0.9375rem; 
color: #fff;
text-transform:  capitalize;
font-size: 1.2rem;
background: #444;
border-top: 1px solid #5e5e5e;
border-bottom: none;
margin: 0; 
text-align: center;
font-weight: bold;
}

ul.off-canvas-list li label {
padding: 0;
color: none;
text-transform: none;
font-weight: none;
background: none;
border-top: none;
border-bottom: none;
margin: 0;
font-size: inherit;
vertical-align: middle;
font-weight: inherit;
}

.move-right>.inner-wrap {
-webkit-transform: translate3d(350px, 0, 0);
-moz-transform: translate3d(350px, 0, 0);
-ms-transform: translate3d(350px, 0, 0);
-o-transform: translate3d(350px, 0, 0);
transform: translate3d(350px, 0, 0);
}


.left-off-canvas-menu{
	width: 350px;
}


.right-off-canvas-menu .switch-light > span {
padding-right: 0px;
}

.right-off-canvas-menu .switch-light{
margin-left: 100px;
width: 100px;
}


.right-off-canvas-menu label:not([class^="switch-light"]):before ,
.left-off-canvas-menu label:not([class^="switch-light"]):before {
content: "";
display: inline-block;
width: 1rem;
height: 1rem;
margin-right: 0;
position: absolute;
left: 0;
top: .125rem;
background-color: #aaa;
box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}


.checkbox label, .radio label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;   
    width: 100%;
}  

.radio label { 
	padding-left: 2rem !important;
}

input[type=radio] {  
    display: none;  
} 

input[type=radio]:checked + label:before {  
    content: "\2022";  
    color: black;  
    font-size: 30px;  
    text-align: center;  
    line-height: 18px;  
} 

input[type=checkbox] {  
    display: none;  
} 

.checkbox label:before {  
    border-radius: 3px;  
} 

input[type=checkbox]:checked + label:before {  
    content: "\2713";  
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 15px;  
    color: #000;  
    text-align: center;  
    line-height: 15px;  
}


.radio label:before {  
    border-radius: 8px;  
}  

.h-subject{
	margin-left: 1.6rem;
}
.h-amount{
display: block;
height: .9rem;
}

.h-amount span{
	display: inline-block;
}

.h-progress{
height:100%;
width: 4rem;
padding: 0rem;
background: #fff;
}

.h-progress .meter{
background: #008cba;
display: block;
width: 50%;
height: inherit;
}
.h-progress, .h-progress .meter{
	border-radius: 15px;
}

.h-totals{
margin-right: 5px;
color: #008cba;
}

.btn-visualize{
	padding: 0;
	margin: 0;
}





#slider label {
/*     position: absolute;
width: 20px;
margin-left: -10px;
text-align: center;
margin-top: 20px; */
}

/* below is not necessary, just for style */
#slider {
    width: 400px;
    margin: 2em auto;
}























#search {
  background: #59b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 5px rgba(88, 88, 88, 0.5);
  -webkit-box-shadow: 2px 2px 5px rgba(88, 88, 88, 0.5);
  margin-bottom: 10px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

#q {
  background: #ffffff;
  margin: 0;
  padding: 8px 10px;
  border: 1px solid #eee;
  outline-width: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  width: 330px;
}

#btn {
  padding: 8px 10px;
  border: 1px solid #eee;
  outline-width: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  background: #ffffff;
  cursor: pointer;
}

#search label {
  color: #ffffff;
  padding: 8px 10px;
  font-size: 18px;
}

















.controls {
margin-top: 16px;
border: 1px solid transparent;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
height: 32px;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
background-color: #ffffff;
padding: 0 11px 0 13px;
width: 400px;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
text-overflow: ellipsis;
position: absolute;
z-index: 2;
top: 10rem;
left: 10rem;
}

#pac-input:focus {
border-color: #4d90fe;
margin-left: -1px;
padding-left: 14px;  /* Regular padding-left + 1. */
width: 401px;
}

.pac-container {
font-family: Roboto;
}

#type-selector {
color: #ffffff;
background-color: #4d90fe;
padding: 5px 11px 0px 11px;
}

#type-selector label {
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}














#map-results{
	position: absolute;
	top: 6.25rem;
	left: 6.25rem;
	z-index: 1;
	background: white;
	width: 40rem;
	height: 35rem;
	overflow-y: scroll;
/* 	overflow-x: hidden; */
	background-color:rgba(0, 0, 0, 0.5);
}


#map-results .panel{
	clear: both;
	margin: 0rem;
	padding: .25rem;
}

#map-results header .right,
#map-results header .left{
	margin-right: 10px;
	margin-left: 10px;
}
#map-results .panel p{
	font-size: 0.8rem !important;
}

#map-results .button.tiny {
padding-top: 0.325rem;
padding-right: 1.15rem;
padding-bottom: 0.5875rem;
padding-left: 1.15rem;
font-size: 0.5875rem;
}

