:focus {outline:none;} ::-moz-focus-inner {border:0;}

html, body { 
	height: 100% 
}

body { 
	margin: 0; 
	padding: 0;
	position: relative;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 -1px rgba(0, 0, 0, .5);
}

.text-glow:hover, .text-glow:focus, .text-glow:active {
   -webkit-stroke-width: 5.3px;
   -webkit-stroke-color: #ffffffFFF;
   -webkit-fill-color: #ffffffFFF;
   text-shadow: 1px 0px 20px yellow;
   -webkit-transition: width 0.3s; /*Safari & Chrome*/
   transition: width 0.3s;
   -moz-transition: width 0.3s; /* Firefox 4 */
   -o-transition: width 0.3s; /* Opera */
}

nav{
	z-index: 9999 !important;
}

.clear{
	clear: both;
}
#container {
  position: relative;
  min-height: 830px;
  background-color: black;
}
#sprawl-map{ 
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
  border-right: .3rem inset #eee;
  border-left: .3rem inset #eee;
  border-bottom: .3rem inset #eee;
}

/* Fix img stretch for fluid container */
#sprawl-map img{
	max-width: none;
}


#dashboard{
	background: white;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	z-index: 2;
}

#chart{
margin: 0px auto;
position: relative;
width: 1400px;
}


#heatmap-key{
	position: absolute;
	top: 1rem;
	left: 5%;
	width: 12em;
	background: #fff;
	height: auto;
	padding-top: .5rem;
	padding-bottom: 0.5rem;
	overflow: auto;
	display: none;
}

#heatmap-key ul{
	margin-left: 0rem;
}
#heatmap-key h5{
	text-align: center;
}

#heatmap-key ul li{
	padding: .25em;
	clear: both;
	list-style: none;
}

#heatmap-key ul li span.color-block{
	height: 2em;
	width: 2em;
	display: inline-block;
	float: left;
}

#heatmap-key ul li span.block-range{
	height: 2em;
	width: auto;
	display: inline-block;
	float: left;
	margin-left: 1em;
}

/*
ul li {
    color: grey;
    background: #fefefe;
    padding: 14px 24px 10px;
    margin: 0px -6px 0 10px;
    position: relative;
    float: left;
    text-align: center;
    z-index: 1;
}

ul li.active::before,
ul li.active::after {
    background-color: #fff;
    border-bottom-color: #fff;
}
*/

section.tab-small{
	width: 50%;
	z-index: 9999;
		color: #fff;
	/* border-right: none; */
	box-shadow: none;
/* 	background:  */

	padding: .75rem;
	font-size: 1.5rem;
}

section.tab-small div{
}

section.tab-small::before {
    content: '';
    display: block;
    position: absolute;
    top: 0; left: 0;
    width: 70%;
    height: 100%;
    border-style: solid;
    border-color: #eee;
    border-width: 2px 0 2px 2px;
    border-radius: 8px 0 0 0;
    -webkit-transform: skewX(-20deg);
       -moz-transform: skewX(-20deg);
         -o-transform: skewX(-20deg);
            transform: skewX(-20deg);
    background-color: inherit;
    z-index: -1;

	-moz-box-shadow: 3px 3px 25px #685447 inset;
	-webkit-box-shadow: 3px 3px 25px #685447 inset;
	-o-box-shadow: 3px 3px 25px #685447 inset;
	-ms-box-shadow: 3px 3px 25px #685447 inset;
	box-shadow: 3px 3px 25px #685447 inset;
}

section.tab-small::after {
    content: '';
    display: block;
    position: absolute;
    top: 0; right: 0;
    width: 70%;
    height: 100%;
    border-style: solid;
    border-color: #eee;
    border-width: 2px 2px 2px 0;
    border-radius: 0 8px 0 0;
    -webkit-transform: skewX(20deg);
       -moz-transform: skewX(20deg);
         -o-transform: skewX(20deg);
            transform: skewX(20deg);
    background-color: inherit;
    z-index: -1;

    -moz-box-shadow: 3px 3px 25px #685447 inset;
	-webkit-box-shadow: 3px 3px 25px #685447 inset;
	-o-box-shadow: 3px 3px 25px #685447 inset;
	-ms-box-shadow: 3px 3px 25px #685447 inset;
	box-shadow: 3px 3px 25px #685447 inset;
}


section.tab-small a{
display: inline-block;
width: 100%;
text-align: center;
color: inherit;
}

section.tab-small a:hover{
color: red; /* #0078a0 */
}


section.left-small, section.right-small{
top: 45%;
width: 28em;
border-right: none;
border-left: none;
}

section.right-small{
	right: -12.9em;

	transform:rotate(-90deg);
	-ms-transform:rotate(-90deg); /* IE 9 */
	-webkit-transform:rotate(-90deg); /* Opera, Chrome, and Safari */

	-webkit-border-top-left-radius: 2rem;
	-webkit-border-top-right-radius: 2rem;

	-moz-border-radius-topleft: 2rem;
	-moz-border-radius-topright: 2rem;

	border-top-left-radius: 2rem;
	border-top-right-radius: 2rem;
}

section.left-small{
	left: -12.9em;

	transform:rotate(90deg);
	-ms-transform:rotate(90deg); /* IE 9 */
	-webkit-transform:rotate(90deg); /* Opera, Chrome, and Safari */

	-webkit-border-top-left-radius: 1.5rem;
	-webkit-border-top-right-radius: 1.5rem;

	-moz-border-radius-topleft: 1.5rem;
	-moz-border-radius-topright: 1.5rem;

	border-top-left-radius: 1.5rem;
	border-top-right-radius: 1.5rem;
}

section.bottom-small{

	position: absolute;
	bottom: .20rem;
	left: 25%;

  -webkit-border-top-left-radius: 1.5rem;
  -webkit-border-top-right-radius: 1.5rem;
  -webkit-border-bottom-right-radius: 0rem;
  -webkit-border-bottom-left-radius: 0rem;

  -moz-border-radius-topleft: 1.5rem;
  -moz-border-radius-topright: 1.5rem;
  -moz-border-radius-bottomright: 1.5rem;
  -moz-border-radius-bottomleft: 0rem;

  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

section.top-small{
	position: absolute;
	top: .20rem;
	left: 25%;

transform:rotate(180deg);
-ms-transform:rotate(180deg); /* IE 9 */
-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */

  -webkit-border-top-left-radius: 2.5rem;
  -webkit-border-top-right-radius: 2.5rem;

  -moz-border-radius-topleft: 2.0rem;
  -moz-border-radius-topright: 2.0rem;

  border-top-left-radius: 2.5em;
  border-top-right-radius: 2.5rem;
}

#marker-status{
	font-size: 1.2rem;
	color: red;
}

section.top-small div {
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Opera, Chrome, and Safari */
} 

section.top-small span{
	width: 100%;
	text-align: center;
	display: inline-block;
}

section.top-small span:first-child{
	margin-bottom: .5rem;
}

#histogram{
	height: 54em;
}
#location, #features{
	height: 26em;
	overflow: auto;
	overflow-x: hidden;
}
#features{
	padding-top: 2em;
}

#latlng{
	bottom: 2rem;
	right: .5rem;
	z-index: 1;
	position: absolute;
	background-color: none; /*#999*/
	color: red; /*333*/
	width: 15rem;
	height: 2.8125rem;
	overflow: auto;
	line-height: 2.8125rem;
	text-align: center;
	font-weight: bold;
}

.warning{
	background-color: #ED9124 !important;
}

.warning:hover, .warning:focus {
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000', GradientType=0);
background-image: -webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));
background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
background-image: -moz-linear-gradient(top,rgba(0,0,0,.05) 0,rgba(0,0,0,.1));
background-image: -o-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

li .btn-visualize:nth-child(odd){
	margin-right: 1rem;
}

button.tiny{
font-size: 1rem;
padding-top: .15rem;
padding-bottom: .15rem;
padding-left: .75rem;
padding-right: .75rem;
color: black !important;
}

/*** 
Top Bar
**/

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
-webkit-appearance: none;
background-color: #fff;
font-family: inherit;
border: 1px solid #cccccc;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
color: rgba(0, 0, 0, 0.75);
display: block;
font-size: 0.77778rem;
margin: 0 0 0.88889rem 0;
padding: 0.44444rem;
height: 2.05556rem;
width: 100%;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
-moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
transition: box-shadow 0.45s, border-color 0.45s ease-in-out;
-webkit-transition: all 0.15s linear;
-moz-transition: all 0.15s linear;
transition: all 0.15s linear;
}


.top-bar form, .top-bar input {
margin-bottom: 0;
}

.top-bar input {
height: auto;
padding-top: 0.35rem;
padding-bottom: 0.35rem;
font-size: 0.75rem;
}

@media only screen and (min-width: 40.063em)
.top-bar input, .top-bar .button {
font-size: 0.77778rem;
position: relative;
top: 7px;
}



/*** 
Off Canvas 
**/
ul.off-canvas-list{
	clear: both;
}

ul.off-canvas-list ul{
list-style-type: none;
padding: 0;
margin: 0;
clear: both; /* fix popping out issue covering buttons */
}


ul.off-canvas-list li{
font-weight: bold;
font-size: .8rem;
color: #fff;
clear: both;
color: rgba(255,255,255,0.7);
padding: 1rem;
line-height: 1.8rem;
}

ul.off-canvas-list ul li{
	padding: 0;
	padding-top: 1rem;
}

#features ul.off-canvas-list li div{
padding-top: .75rem;
padding-bottom: .25rem;
}

ul.off-canvas-list li h2{
padding: 0.3rem 0.9375rem; 
color: #fff;
text-transform:  capitalize;
font-size: 1rem;
background: #444;
border-top: 1px solid #5e5e5e;
border-bottom: none;
margin: 0; 
text-align: center;
font-weight: bold;
}

ul.off-canvas-list li h3{
padding: 0.2rem 0.7375rem; 
color: #fff;
text-transform:  capitalize;
font-size: .75rem;
background: #666;
border-top: 1px solid #5e5e5e;
border-bottom: none;
margin: 0; 
text-align: center;
font-weight: bold;
}

ul.off-canvas-list li label {
padding: 0;
color: none;
text-transform: none;
font-weight: none;
background: none;
border-top: none;
border-bottom: none;
margin: 0;
font-size: inherit;
vertical-align: middle;
font-weight: inherit;
}

ul.off-canvas-list ul.off-canvas-list li div{
	padding-left: .75rem;
	padding-right: .75rem;
}

ul.off-canvas-list ul.off-canvas-list li .h-subject{
	/* font-style: italic; */
}

.move-right>.inner-wrap {
-webkit-transform: translate3d(280px, 0, 0);
-moz-transform: translate3d(280px, 0, 0);
-ms-transform: translate3d(280px, 0, 0);
-o-transform: translate3d(280px, 0, 0);
transform: translate3d(280px, 0, 0);
}

.off-canvas-wrap{
	overflow-y: hidden;
}
.off-canvas-wrap.move-right, .off-canvas-wrap.move-left {
height: auto;
}

.left-off-canvas-menu{
	width: 280px;
}


.right-off-canvas-menu .switch-light > span {
padding-right: 0px;
}

.right-off-canvas-menu .switch-light{
margin-left: 100px;
width: 100px;
}


.right-off-canvas-menu label:not([class^="switch-light"]):before ,
.left-off-canvas-menu label:not([class^="switch-light"]):before {
content: "";
display: inline-block;
width: 1rem;
height: 1rem;
margin-right: 0;
position: absolute;
left: 0;
top: .125rem;
background-color: #aaa;
box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.checkbox label, .radio label {  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;   
    width: 100%;
}  

.radio label { 
	padding-left: 2rem !important;
}

input[type=radio] {  
    display: none;  
} 

input[type=radio]:checked + label:before {  
    content: "\2022";  
    color: black;  
    font-size: 30px;  
    text-align: center;  
    line-height: 18px;  
} 

input[type=checkbox] {  
    display: none;  
} 

.checkbox label:before {  
    border-radius: 3px;  
} 

input[type=checkbox]:checked + label:before {  
    content: "\2713";  
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);  
    font-size: 15px;  
    color: #000;  
    text-align: center;  
    line-height: 15px;  
}


.radio label:before {  
    border-radius: 8px;  
}  

.h-subject{
	margin-left: 1.6rem;
}
.h-amount{
display: block;
height: .9rem;
}

.h-amount span{
	display: inline-block;
}

.h-progress{
height:100%;
width: 4rem;
padding: 0rem;
background: #fff;
}

.h-progress .meter{
background: #008cba;
display: block;
/*width: 50%;*/
height: inherit;
}
.h-progress, .h-progress .meter{
	/*border-radius: 15px;*/
}

.h-totals{
margin-right: 5px;
color: #008cba;
}

.btn-visualize{
	padding: 0;
	margin: 0;
}





#slider label {
/*     position: absolute;
width: 20px;
margin-left: -10px;
text-align: center;
margin-top: 20px; */
}

/* below is not necessary, just for style */
#slider {
    width: 400px;
    margin: 2em auto;
    margin-top: 6em;
}























#search {
  background: #59b;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 2px 2px 5px rgba(88, 88, 88, 0.5);
  -webkit-box-shadow: 2px 2px 5px rgba(88, 88, 88, 0.5);
  margin-bottom: 10px;
  padding: 10px;
  position: absolute;
  z-index: 1;
}

#q {
  background: #ffffff;
  margin: 0;
  padding: 8px 10px;
  border: 1px solid #eee;
  outline-width: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  width: 330px;
}

#btn {
  padding: 8px 10px;
  border: 1px solid #eee;
  outline-width: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 18px;
  background: #ffffff;
  cursor: pointer;
}

#search label {
  color: #ffffff;
  padding: 8px 10px;
  font-size: 18px;
}

















.controls {
margin-top: 16px;
border: 1px solid transparent;
border-radius: 2px 0 0 2px;
box-sizing: border-box;
-moz-box-sizing: border-box;
height: 32px;
outline: none;
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
background-color: #ffffff;
padding: 0 11px 0 13px;
width: 400px;
font-family: Roboto;
font-size: 15px;
font-weight: 300;
text-overflow: ellipsis;
position: absolute;
z-index: 2;
top: 10rem;
left: 10rem;
}

#pac-input:focus {
border-color: #4d90fe;
margin-left: -1px;
padding-left: 14px;  /* Regular padding-left + 1. */
width: 401px;
}

.pac-container {
font-family: Roboto;
}

#type-selector {
color: #ffffff;
background-color: #4d90fe;
padding: 5px 11px 0px 11px;
}

#type-selector label {
font-family: Roboto;
font-size: 13px;
font-weight: 300;
}














#map-results{
	position: absolute;
	top: 6.25rem;
	left: 6.25rem;
	z-index: 1;
	background: white;
	width: 40rem;
	height: 35rem;
	overflow-y: scroll;
/* 	overflow-x: hidden; */
	background-color:rgba(0, 0, 0, 0.5);
}


#map-results .panel{
	clear: both;
	margin: 0rem;
	padding: .25rem;
}

#map-results header .right,
#map-results header .left{
	margin-right: 10px;
	margin-left: 10px;
}
#map-results .panel p{
	font-size: 0.8rem !important;
}

#map-results .button.tiny {
padding-top: 0.325rem;
padding-right: 1.15rem;
padding-bottom: 0.5875rem;
padding-left: 1.15rem;
font-size: 0.5875rem;
}

