<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Fusion Tables layers</title>
    <style>
      html, body {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="../js/portal/views/off_canvas_left.js"></script>
  </head>
  <body>
    
  </body>
</html>