<header>
  <span class="left"><h4 id="results-title">SELECTION <i class="fi-web"></i></h4> </span>
  <span class="right">
    <ul class="button-group radius">
      <li><a href="" class="tiny button">Histogram</a></li>
      <li><a href="" class="tiny button secondary">List</a></li>
    </ul>
  </span>

  <div class="panel"><p>Selection or more ways to define selection</p></div>
</header>
<aside>
  <h5><small>LAYER TYPE</small></h5>
  <ul class="histogram-list no-bullet">
    <li>
      <span class="left histogram-list-subj">BuildingInfrastructure</span>
      <span class="right progress small-3">
        <span class="meter" style="width: 100%"></span>
      </span>
      <span class="right histogram-list-totals">14690</span>
    </li>
  </ul>

  <hr>

  <h5><small>LAYER TYPE &gt;&gt; BUILDING INFRASTRUCTURE</small></h5>
  <ul class="histogram-list no-bullet">
    <li>
      <span class="histogram-list-subj">BuildingServices</span>
      <span class="right progress small-3"><span class="meter" style="width: 90%"></span></span>
      <span class="right histogram-list-totals">9920</span>
    </li>
    <li>
      <span class="histogram-list-subj">Commercial</span>
      <span class="right progress small-3"><span class="meter" style="width: 3%"></span></span>
      <span class="right histogram-list-totals">2600</span>
    </li>
    <li>
      <span class="histogram-list-subj">Residential</span>
      <span class="right progress small-3"><span class="meter" style="width: 2%"></span></span>
      <span class="right histogram-list-totals">1240</span>
    </li>
    <li>
      <span class="histogram-list-subj">Educational</span>
      <span class="right progress small-3"><span class="meter" style="width: 1%"></span></span>
      <span class="right histogram-list-totals">130</span>
    </li>
    <li>
      <span class="histogram-list-subj">Medical</span>
      <span class="right progress small-3"><span class="meter" style="width: 0.5%"></span></span>
      <span class="right histogram-list-totals">24</span>
    </li>
    <li>
      <span class="histogram-list-subj">Civic</span>
      <span class="right progress small-3"><span class="meter" style="width: 1%"></span></span>
      <span class="right histogram-list-totals">10</span>
    </li>
    <li>
      <span class="histogram-list-subj">Religious</span>
      <span class="right progress small-3"><span class="meter" style="width: 0%"></span></span>
      <span class="right histogram-list-totals">4</span>
    </li>
    <li>
      <span class="histogram-list-subj">Educational</span>
      <span class="right progress small-3"><span class="meter" style="width: 0%"></span></span>
      <span class="right histogram-list-totals">2</span>
    </li>
  </ul>

  <div class="panel"><p></p></div>
  <h5><small>ACCESS</small></h5>
  <ul class="histogram-list no-bullet">
    <li>
      <span class="histogram-list-subj">Private</span>
      <span class="right progress small-3"><span class="meter" style="width: 40%"></span></span>
      <span class="right histogram-list-totals">920</span>
    </li>
    <li>
      <span class="histogram-list-subj">Public</span>
      <span class="right progress small-3"><span class="meter" style="width: 30%"></span></span>
      <span class="right histogram-list-totals">00</span>
    </li>
    <li>
      <span class="histogram-list-subj">Civic</span>
      <span class="right progress small-3"><span class="meter" style="width: 20%"></span></span>
      <span class="right histogram-list-totals">1240</span>
    </li>
    <li>
      <span class="histogram-list-subj">Government</span>
      <span class="right progress small-3"><span class="meter" style="width: 5%"></span></span>
      <span class="right histogram-list-totals">130</span>
    </li>
    <li>
      <span class="histogram-list-subj">Military</span>
      <span class="right progress small-3"><span class="meter" style="width: 3%"></span></span>
      <span class="right histogram-list-totals">24</span>
    </li>
    <li>
      <span class="histogram-list-subj">Unknown</span>
      <span class="right progress small-3"><span class="meter" style="width: 2%"></span></span>
      <span class="right histogram-list-totals">10</span>
    </li>
  </ul>
</aside>